/* Header */
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 293px;
  width: 100%;
  padding: 0px 50px;
  gap: 36px;
}

.header__links-list{
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list > li{
  list-style: circle;
}

.header__links-list > li:first-child{
  list-style: none;
}

.header__link_active, .footer__menu-link_active{
  border: none;
}

.header__logo{
  flex: 1;
  border: none;
}

.header__logo-image{
  width: 148px;
  margin: 0 auto;
}

address{
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

address > p{
  font-size: 18px;
}


/* Main */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover, .lots__card-list{
  color: white;
}

.cover__title, .cover__description, .card-description{
  position: relative;
  z-index: 2;
}


/* Promo block */

.cover{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 757px;
  background-image: url("../images/lotus-flower.png");
  position: relative;
  padding: 50px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 106px;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.cover__description{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cover__description-text{
  flex: 1;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  word-spacing: 0.8em;
  text-transform: uppercase;
}

.bet-button{
  background: none;
  padding: 12px 32px;
  border: 1px solid #fff;
  height: 51px;
  font-weight: 500;
  font-size: 22px;
  color: white;
}


/* LOTS */

.lots{
  margin: 0px 24px;
  margin-top: 180px;
  margin-bottom: 120px;
}

.lots__heading, .lots__look-more-link{
  margin-left: 40px;
}

.lots__card-list{
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1;
  height: 596px;
}

.lots__card-list-item > a{
  text-decoration: none;
}

.card{
  padding: 48px 40px;
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.card-description{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film{
  background-image: url("../images/photo1.png");
}

.card_type_book{
  background-image: url("../images/photo2.png");
}

.card_type_picture{
  background-image: url("../images/photo3.png");
}


/* ABOUT */

.about{
  display: flex;
  flex-direction: row;
  height: 595px;
  margin: 0px 24px;
  gap: 72px;
}

.about__logo{
  width: 240px;
  height: 100%;
  margin-left: 47px;
  margin-top: 35px;
}

.about__column{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 100px;
}

.about__text{
  display: flex;
  flex-direction: column;
  gap: 24px;
}


/* FOOTER */

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 50px 82px;
  margin-top: 180px;
}

.footer__menu{
  display: flex;
  flex: 1;
  justify-content: center;
}

.footer__menu-list, .footer__social-list{
  list-style-type: none;
}

.footer__social-list{
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__social-link{
  border: none;
}

.footer__social-icon{
  width: 48px;
}