/*HEADER*/
header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px;
  gap: 36px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: none; 
  padding: 0;
  margin: 0;
}

.header__link_active, .footer__menu-link_active {
  border: none;
}

.header__logo {
  flex: 1;
  border: none;
}

.header__logo-image {
  width: 148px;
  margin: 0 auto;
}

address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

address > p {
  font-size: 18px;
  line-height: 1.4;
}

/*MAIN*/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover, .lots__card-list {
  color: white;
}

.cover__title, .cover__description, .card-description {
  position: relative;
  z-index: 2;
}

/*PROMO (COVER)*/

.cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 757px;
  background-image: url("../images/lotus-flower.png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 50px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 106px;
  align-items: stretch; 
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.cover__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  word-spacing: 0.8em;
  text-transform: uppercase;
}

.bet-button {
  background: none;
  padding: 12px 32px;
  border: 1px solid #fff;
  height: 51px;
  font-weight: 500;
  font-size: 22px;
  color: white;
  cursor: pointer;
}

/*LOTS*/

.lots {
  margin: 120px 50px;
}

.lots__heading, .lots__look-more-link {
  margin-left: 0; 
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1;
  min-height: 500px;
}

.lots__card-list-item > a {
  text-decoration: none;
}

.card {
  padding: 48px 40px;
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-description {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url("../images/photo1.png");
}

.card_type_book {
  background-image: url("../images/photo2.png");
}

.card_type_picture {
  background-image: url("../images/photo3.png");
}

/*ABOUT*/

.about {
  display: flex;
  flex-direction: row;
  height: 595px;
  margin: 0 50px;
  gap: 48px;
}

.about__logo {
  width: 240px;
  height: 100%;
  margin-left: 47px;
  margin-top: 35px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 60px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*FOOTER*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px 82px;
  margin-top: 120px;
}

.footer__menu {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.footer__menu-list, .footer__social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__social-link {
  border: none;
}

.footer__social-icon {
  width: 48px;
}

/*RESPONSIVE FIX (1100px)*/
@media (max-width: 1100px) {
  header {
    flex-wrap: wrap;
    gap: 20px;
  }

  .lots__card-list {
    flex-wrap: wrap;
  }

  .about {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .about__logo {
    margin: 0;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__menu {
    justify-content: center;
    margin: 20px 0;
  }
}
